allow untrusted_app battery_service:service_manager find;
allow untrusted_app zygote:file { read open };
allow untrusted_app zygote:dir { search getattr };
allow untrusted_app device:dir { search read open };
allow untrusted_app tombstone_data_file:dir getattr;
allow untrusted_app block_device:dir { read open };
allow untrusted_app init:dir getattr;
allow untrusted_app kernel:dir getattr;
allow untrusted_app ueventd:dir getattr;
allow untrusted_app logd:dir getattr;
allow untrusted_app vold:dir getattr;
allow untrusted_app healthd:dir getattr;
allow untrusted_app lmkd:dir getattr;
allow untrusted_app servicemanager:dir getattr;
allow untrusted_app surfaceflinger:dir getattr;
allow untrusted_app rmt_storage:dir getattr;
allow untrusted_app sensors:dir getattr;
allow untrusted_app msm_irqbalanced:dir getattr;
allow untrusted_app tee:dir getattr;
allow untrusted_app per_mgr:dir getattr;
allow untrusted_app netd:dir getattr;
allow untrusted_app debuggerd:dir getattr;
allow untrusted_app rild:dir getattr;
allow untrusted_app drmserver:dir getattr;
allow untrusted_app mediaserver:dir getattr;
allow untrusted_app installd:dir getattr;
allow untrusted_app keystore:dir getattr;
allow untrusted_app cnd:dir getattr;
allow untrusted_app rfs_access:dir getattr;
allow untrusted_app qmuxd:dir getattr;
allow untrusted_app netmgrd:dir getattr;
allow untrusted_app ipacm-diag:dir getattr;
allow untrusted_app ipacm:dir getattr;
allow untrusted_app qti:dir getattr;
allow untrusted_app thermal-engine:dir getattr;
allow untrusted_app wcnss_service:dir getattr;
allow untrusted_app ims:dir getattr;
allow untrusted_app adsprpcd:dir getattr;
allow untrusted_app hvdcp:dir getattr;
allow untrusted_app gatekeeperd:dir getattr;
allow untrusted_app perfprofd:dir getattr;
allow untrusted_app dpmd:dir getattr;
allow untrusted_app qseeproxy:dir getattr;
allow untrusted_app mm-qcamerad:dir getattr;
allow untrusted_app adsprpcd_exec:file { read open };
allow untrusted_app audiod_exec:file { read open };
allow untrusted_app blkid_exec:file { read open };
allow untrusted_app bootanim_exec:file { read open };
allow untrusted_app btnvtool_exec:file { read open };
allow untrusted_app btsnoop_exec:file { read open };
allow untrusted_app clatd_exec:file { read open };
allow untrusted_app cnd_exec:file { read open };
allow untrusted_app wcnss_service_exec:file { read open };
allow untrusted_app debuggerd_exec:file { read open };
allow untrusted_app time_daemon:dir getattr;
allow untrusted_app audiod:dir getattr;
allow untrusted_app mdtpdaemon:dir getattr;
allow untrusted_app sudaemon:dir getattr;
allow untrusted_app mm-pp-daemon:dir getattr;
allow untrusted_app su:dir getattr;
allow untrusted_app system_server:dir getattr;
allow untrusted_app fingerprintd:dir getattr;
allow untrusted_app sdcardd:dir getattr;
allow untrusted_app platform_app:dir getattr;
allow untrusted_app wpa:dir getattr;
allow untrusted_app system_app:dir getattr;
allow untrusted_app dpmservice_app:dir getattr;
allow untrusted_app radio:dir getattr;
allow untrusted_app dhcp_exec:file { read open };
allow untrusted_app dnsmasq_exec:file { read open };
allow untrusted_app dpmd_exec:file { read open };
allow untrusted_app drmserver_exec:file { read open };
allow untrusted_app dumpstate_exec:file { read open };
allow untrusted_app dun-server_exec:file { read open };
allow untrusted_app fsck_exec:file { read open };
allow untrusted_app energyawareness_exec:file { read open };
allow untrusted_app fingerprintd_exec:file { read open };
allow untrusted_app gatekeeperd_exec:file { read open };
allow untrusted_app hostapd_exec:file { read open };
allow untrusted_app hvdcp_exec:file { read open };
allow untrusted_app ims_exec:file { read open };
allow untrusted_app imscm_exec:file { read open };
allow untrusted_app installd_exec:file { read open };
allow untrusted_app ipacm_exec:file { read open };
allow untrusted_app ipacm-diag_exec:file { read open };
allow untrusted_app irsc_util_exec:file { read open };
allow untrusted_app keystore_exec:file read;
allow untrusted_app bootchart_data_file:dir { read open };
allow untrusted_app sensors_data_file:dir { read open };
allow untrusted_app rootfs:dir { read open };
